#thMa, #thLoai {
    width: 150px
}
#thHinh, #thHang, #thMau, #thTen {
    width: 200px
}
#thGia, #thSL {
    width: 120px
}
#thMoTa {
    width: 400px;
}

button {
    margin: 20px 50px;
    width: 100px;
}

td {
    vertical-align: top;
}

td.td-ma {
    word-break: break-all;
}
td.td-hinh img {
    height: 100px;
    width: auto; 
}


#img-preview {
    padding: 10px;
    width: 100%;
}