<div class="container m-v-padding">
    <div class="container" style="margin-bottom: 100px;">
    <form action=""
        [formGroup]="donHangForm"
        (ngSubmit)="chuyenTinhTrang()">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="fill">
                <mat-label>Tình trạng</mat-label>
                <mat-select formControlName="tinhTrangTu"
                    (selectionChange) = "thayDoiTinhTrangTu()">
                    <mat-option>
                    
                    </mat-option>
                    <mat-option *ngFor="let loai of tinhTrangOptions" [value]="loai">
                    {{loai}}
                    </mat-option>
                </mat-select>                
                </mat-form-field>
            </div>
            <div class="col-md-2" style="vertical-align: middle; ">
                <h2 style="text-align: center;">Chuyển thành</h2>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="fill">
                <mat-label>Tình trạng</mat-label>
                <mat-select formControlName="tinhTrangDen">
                    <mat-option *ngFor="let loai of tinhTrangOptions" [value]="loai">
                    {{loai}}
                    </mat-option>
                </mat-select>                
                <mat-error *ngIf="tinhTrangDen.errors?.required && tinhTrangDen.touched">
                    Tình trạng không được trống
                </mat-error>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
            <button mat-raised-button style="width: 100%;"
            [disabled]="donHangForm.invalid" color="primary">Chuyển tình trạng</button>
            </div>
        </div>
    </form>
    </div>

    <p-table #donHangTable [value]="dsDonHang" 
        [scrollable]="true"
        [(selection)]="dsDonHangChon" 
        selectionMode="multiple"
        dataKey="Ma" 
        [paginator]="true" 
        [rows]="5"
        frozenWidth="50px"
        
        (onPage)="handleOnPage($event)">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col>
                <col id="thMa">
                <col id="thMaKhach">
                <col id="thTen">
                <col id="thHinh">
                <col id="thHang">
                <col id="thMau">
                <col id="thGia">
                <col id="thSL">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                
                <th style="width: 50px;"></th>

                <th>Mã</th>
                <th>Mã khách hàng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Thời gian đặt</th>
                <th>Tình trạng</th>
                <th>Tổng cộng</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donHang>
            <tr class="inner-align-top">
                
                <td style="width: 50px; vertical-align: middle;">
                    <p-radioButton 
                    name = "some"
                    (click)="rowHoaDonClicked($event, donHang)"
                    ></p-radioButton>
                </td>

                <td class="td-ma word-break">{{donHang.Ma}}</td>
                <td class="td-ma-kh word-break">{{donHang.MaKhachHang}}</td>
                <td class="td-ten-kh">{{donHang.TenKhachHang}}</td>
                <td class="td-sdt">{{donHang.SoDienThoai}}</td>
                <td class="td-dia-chi">{{donHang.DiaChi}}</td>
                <td class="td-tgdh word-break">{{donHang.ThoiGianDatHang}}</td>
                <td class="">{{donHang.TinhTrang}}</td>
                <td class="">{{donHang.TongCong|currency:'VND':'symbol'}}</td>
            </tr>
        </ng-template>

        
        <ng-template pTemplate="frozenheader">
            <tr>
                <th style="width: 50px">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="frozenbody" let-donHang>
            <tr>
                <td style="width: 50px;">
                    <p-tableCheckbox (onRowSelect) = "handleRowSelect($event)"
                     [value]="donHang"></p-tableCheckbox>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <br>

    <!-- bảng liệt kê danh sách donHang trong database -->
    <!-- <p-table #donHangTable [value]="dsDonHang" 
        [scrollable]="true"
        [(selection)]="donHangChon" 
        dataKey="Ma" 
        [paginator]="true" 
        [rows]="10"
        frozenWidth="50px">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col id="thMa">
                <col id="thMaKhach">
                <col id="thTen">
                <col id="thHinh">
                <col id="thHang">
                <col id="thMau">
                <col id="thGia">
                <col id="thSL">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Mã</th>
                <th>Mã khách hàng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Thời gian đặt</th>
                <th>Tình trạng</th>
                <th>Tổng cộng</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donHang>
            <tr class="inner-align-top">
                <td class="td-ma word-break">{{donHang.Ma}}</td>
                <td class="td-ten word-break">{{donHang.MaKhachHang}}</td>
                <td class="td-loai">{{donHang.TenKhachHang}}</td>
                <td class="td-hang">{{donHang.SoDienThoai}}</td>
                <td class="td-mau">{{donHang.DiaChi}}</td>
                <td class="word-break">{{donHang.ThoiGianDatHang}}</td>
                <td class="">{{donHang.TinhTrang}}</td>
                <td class="">{{donHang.TongCong|currency:'VND':'symbol'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="frozenheader">
            <tr>
                <th style="width: 50px;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="frozenbody" let-donHang>
            <tr>
                <td style="width: 50px;">
                    <p-tableRadioButton 
                    (click)="rowHoaDonClicked($event, donHang)"
                    [value]="donHang"
                    ></p-tableRadioButton>
                </td>
            </tr>
        </ng-template>
    </p-table> -->
    <!-- bảng liệt kê danh sách Chi tiết đơn hàng dựa trên đơn hàng đã chọn trong database -->
    <p-table #ctdhTable [value]="dsCtdh" 
    [(selection)]="ctdhChon" 
    dataKey="Ma" 
    [paginator]="true" 
    [rows]="10"
    frozenWidth="50px"
    (onPage)="handleOnPage($event)"
    >
    <ng-template pTemplate="colgroup">
        <colgroup>
            <!-- <col style="width: 5%;"> -->
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 5%;">
            
            <col style="width: 15%;">
            <col style="width: 10%;">
            <col style="width: 8%;">
            <col style="width: 8%;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th></th> -->
            <th>Mã</th>
            <th>Mã hóa đơn</th>
            <th>Mã khách hàng</th>
            <th>Tên phụ kiện</th>
            <th>Loại</th>
            
            <th>Hình ảnh</th>
            <th>Giá thành</th>
            <th>Hãng</th>
            <th>Màu</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ctdh>
        <tr class="inner-align-top">
            
            <!-- <td style="width: 50px;">
                <p-tableRadioButton 
                (click)="rowCthdClicked()"
                [value]="ctdh"
                ></p-tableRadioButton>
            </td> -->
            
            <td class="word-break">{{ctdh.Ma}}</td>
            <td class="word-break">{{ctdh.MaDonHang}}</td>
            <td class="word-break">{{ctdh.MaPhuKien}}</td>
            <td class="">{{ctdh.Ten}}</td>
            <td class="">{{ctdh.Loai}}</td>
            
            <td>
                <img class="img-in-table-1" src="{{ctdh.Hinh}}" alt="">
            </td>
            <td class="">{{ctdh.Gia|currency:'VND':'symbol'}}</td>
            <td class="">{{ctdh.Hang}}</td>
            <td class="">{{ctdh.Mau}}</td>
        </tr>
    </ng-template>
</p-table>
<p-toast></p-toast>
</div>